.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
}

.nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}

.nav__hamburguer {
  transform: var(--state-hamburguer);
}

.nav__close {
  transform: var(--state-close);
}

.nav__links {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;

  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: 0.3s transform;
}

@media (min-width: 768px) {
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }

  .nav:target {
    --state-close: scale(0);
  }

  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;

    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }

  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
}
